/* You can add global styles to this file, and also import other style files */
.container{
    margin-top: 10vh;
    height: 80vh;
    width: 80vh;
    margin-bottom:20px;
    margin-right: 20px;
    margin-left: 40vh;
    box-shadow: 0px 0px 8px grey;
    padding: 20px 16px 24px 16px;
    position: relative;
}
#searchid{
    height: 34px;
    width: 324px;
    margin-left: 55vh;
    margin-top: 44px;
}
.summaryname{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    text-align: left;
    /* font-weight: lighter !important; */
    font-size: x-large !important;
}
.summaryday{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    text-align: left;
    color: #878787 !important;
}
.summaryweather{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    text-align: left;
    color: #878787 !important;
}
#temperatureInCel{
    text-align: left;
    font-size: 64px;   
    display: inline;
    color: #212121;
    margin-left: 100px;
    font-family: arial, helvetica, sans-serif;
}
.col2_2{
    color: #212121 !important;
    font-size: 16px;
    font: arial,helvetica,sans-serif;
    margin-top: -75px;
    margin-left: 180px;
}
.tpwclass{
    color: #878787 !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: left;
    margin-left: 450px;
    float: right;
    padding-left: 5px;
    line-height: 22px;
    padding-top: 2px;
    min-width: 43%;
}
.btn-group{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #222222;
    font: 16px arial,helvetica,sans-serif;
}
#minTemp1,
#minTemp2,
#minTemp3,
#minTemp4,
#minTemp5,
#minTemp6,
#minTemp7,
#minTemp8 {
    color: #878787;
    font-size: 13px;
    margin-left: 4px;
}
#maxTemp1,
#maxTemp2,
#maxTemp3,
#maxtemp4,
#maxTemp5,
#maxTemp6,
#maxTemp7,
#maxTemp8{
    font-size: 13px;
    padding-left: 5px;
}
.daytileclass{
    display: inline;
    
}
.col-xs-2{
    text-align: left;
    /* margin-bottom: 30px; */
    margin-top: 20vh;
    display: inline;
}